body {
  background-color: fff;
}
#Heading1 {
font-family: 'Arimo', sans-serif;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
background-color: #E8D4C5
}
#Heading2 {
font-family: 'Prata', serif;
display: flex;
justify-content: space-around;
align-items: center;

}
#Heading3 {
font-family: 'Open Sans', sans-serif;
}
